* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    color: inherit;
  }

@font-face {
    font-family: 'mediaSansReg';
    src: url("../fonts/mediaSans/mediasans-regular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'mediaSansExtReg';
    src: url("../fonts/mediaSans/mediasansextended-regular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'mediaSansSCondReg';
    src: url("../fonts/mediaSans/mediasanssemicondensed-regular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'sfProDisReg';
    src: url("../fonts/sfPro/SF-Pro-Display-Regular.otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'sfProTxtReg';
    src: url("../fonts/sfPro/SF-Pro-Text-Regular.otf");
    font-weight: normal;
    font-style: normal
}

:root {
    --mediaSans-reg: "mediaSansReg";
    --mediaSans-extReg: "mediaSansExtReg";
    --mediaSans-SCondReg: "mediaSansSCondReg";
    --sfPro-DisReg: "sfProDisReg";
    --sfPro-TxtReg: "sfProTxtReg";
   
}